PORT = 5000
MONGO_URI = mongodb+srv://salmaniqbal2008_db_user:CfMVAg95SVHBOOEU@cluster0.zlixpxt.mongodb.net/?appName=Cluster0
JWT_SECRET = mySecretKey123
EMAIL_USER = 
EMAIL_PASS = EMAIL_PASS

CLOUDINARY_CLOUD_NAME = dyu9eaqag
CLOUDINARY_API_KEY = 852554211861493
CLOUDINARY_API_SECRET = tzjS5RKqqeF33CxyccQg_DBmgZM

STRIPE_SECRET_KEY = sk_test_51SCdbq1N3LWiWjKqu4k5tXV0NPTT9XBxGMA4YaHenQVrIzHypYv6VtnMOJgtS2WCMGdE9KIDKQnHUH2MNDMfZWCq00NtIiDcGg
STRIPE_WEBHOOK_SECRET = whsec_50fe2e225fe65b374dda97d0e487b29a956ccaeb834d6bf2786a725b9bcdda67

FRONTEND_URL = http://localhost:5173
